# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [1]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [5]:
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [6]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [7]:
print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [9]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [10]:
'!'.join(word)

'배!고!파'

In [11]:
' '.join(words)

'안녕 hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [12]:
'yay'.replace('a', '_')

'y_y'

In [17]:
'woooooooowooo'.replace('o', '', 4)

#특정한 문자열만큼 빼야할 상황이 생기거나 바꿔줘야할 때 유용

'woooowooo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [18]:
'                   Oh!           '.strip()

'Oh!'

In [19]:
'                   Oh!           '.lstrip()

'Oh!           '

In [23]:
'hehehehehehehihihihihihihehi'.rstrip('hi')

'hehehehehehehihihihihihihe'

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [24]:
'apple'.find('p')

1

In [25]:
'apple'.find('f')

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [26]:
'apple'.index('p')

1

In [27]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [29]:
'a_b_c-d'.split('_')

['a', 'b', 'c-d']

In [30]:
inputs = input().split()
print(inputs)

ssafy
['ssafy']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [31]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [33]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [34]:
# 값을 추가해봅시다.

In [35]:
cafe.append('caffebene')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [37]:
cafe.extend(['droptop', '빽다방'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [38]:
cafe += ['mccafe', 'burgerking']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [39]:
cafe.append(['coffeenie'])  #리스트 안에 리스트 삽입
print(cafe)
print('--------')

cafe.extend(['coffinegurunaru']) #리스트 요소로 들어감
print(cafe)
print('--------')

cafe.extend('coffinegurunaru') #스트링 모든 글자가 리스트 요소로 하나씩 들어감

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie']]
--------
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'coffinegurunaru']
--------

In [40]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'coffinegurunaru', 'c', 'o', 'f', 'f', 'i', 'n', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [41]:
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'coffinegurunaru', 'c', 'o', 'f', 'f', 'i', 'n', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [42]:
cafe.insert(len(cafe), 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'coffinegurunaru', 'c', 'o', 'f', 'f', 'i', 'n', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'bye']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [43]:
cafe.insert(len(cafe) +100, '!')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'caffebene', 'droptop', '빽다방', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffeenie'], 'coffinegurunaru', 'c', 'o', 'f', 'f', 'i', 'n', 'e', 'g', 'u', 'r', 'u', 'n', 'a', 'r', 'u', 'bye', '!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [49]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [46]:
# 중복된 값 1을 삭제 해봅시다.

In [50]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [51]:
# 한번 더 삭제해봅시다.

In [52]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [53]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [54]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [55]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [57]:
print(a.pop(0))
print(a)

[2, 3, 4, 5, 6]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [59]:
print(a)
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}가 되었습니다.')

##print 는 문자열을 그냥 출력해주는거
#return은 함수의 결과 값을 정해주는 것

[2, 3, 4, 5, 6]
6가 삭제되어 [2, 3, 4, 5]가 되었습니다.

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [61]:
numbers = list(range(1, 46))
print(numbers)
print('-----------------------------------')
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
-----------------------------------
[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [62]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [63]:
a.index(5)

4

In [64]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [65]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [66]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [68]:
target_value = 1
for i in range(a.count(target_value)): #range(3)
        a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [69]:
a

[2, 5, 5]

In [70]:
target_value in a

False

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [71]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[45, 8, 18, 43, 27, 26]

In [72]:
# sort() 를 사용해봅시다.
lotto.sort()
print(lotto.sort()) #sorted와는 달리 sort는 원본 데이터 자체가 변경되기 때문에 유의!
print(lotto)

None
[8, 18, 26, 27, 43, 45]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [73]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [75]:
#classroom.sort() #알파벳 순서로 정렬됨
classroom.reverse()
print(classroom)

['Tom', 'Justin', 'David']

## 복사

In [76]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [82]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [83]:
copy_lst = [4]              #copy_lst의 값을 변경해도 original 데이터 역시 변경됨
print(original_list)

[1, 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [85]:
id(copy_list) == id(original_list)
copy_list is original_list

True

In [ ]:
# 숫자를 확인해봅시다.

In [88]:
a = 2005
b = a
b = 3005
print(a)

2005

In [ ]:
# 딕셔너리도 확인해봅시다.

In [89]:
lunch = {'김밥천국' : '치즈라면', '김가네':'제육볶음'}
dinner = lunch

dinner['김밥천국'] = '참치김밥'
print(lunch)

{'김밥천국': '참치김밥', '김가네': '제육볶음'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [91]:
a = [1,2,3]  #mutable한 자료형도 이 방법으로 복사하면 원본 데이터가 변경되지 않음
b = a[:]

b[0] = 5
print(b)
print(a)

[5, 2, 3]
[1, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [95]:
a = [1, 2, [1, 2]]
b = a[:]

print(id(a))
print(id(b))

b[2][0] = 3
print(b)
print(a)
#리스트 안의 리스트를 바꿀 경우, 원본 데이터도 수정! => 얕은 복사

2532952028296
2532938162504
[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [96]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 3
print(b)
print(a)

[1, 2, [3, 2]]
[1, 2, [1, 2]]

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [97]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [98]:
cubic_list = []
for i in a:
    cubic_list.append(i**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [100]:
cubic_list = [i**3 for i in a]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [101]:
even_list = []
for a in range(1, 11):
    if a % 2 ==0:
        even_list.append(a)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [102]:
even_list = [a for a in range(1, 11) if a % 2 ==0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [104]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [107]:
pair = []
for girl in girls:
    for boy in boys:
        pair.append((girl, boy))
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [109]:
pair = [(girl, boy) for girl in girls for boy in boys]
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [111]:
# x **2 + y **2 = z **2
lst = []
for x in range(1, 50):
    for y in range(1, 50):
        for z in range(1, 50):
            if z**2 == x**2 + y**2 and x < y < z:
                lst.append((x,y,z))
print(lst)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [116]:
lst = [(x,y,z) for x in range(1,50) for y in range(1,50) for z in range(1,50) if z**2 == x**2 + y**2 and x < y < z ]
print(lst)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [120]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [121]:
rm_str = ''
vowels = ['a', 'e', 'i', 'o', 'u']
for word in words:
    if word not in vowels:
        rm_str += word
print(rm_str)

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [123]:
rm_st = [word for word in words if word not in vowels]
print(''.join(rm_st))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [124]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [125]:
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [126]:
my_dict.pop('apple')
print(my_dict)

KeyError: 'apple'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [128]:
my_dict.pop('melon', 0)  #에러 발생하지 않기 위해 두 번째 인자에 default 값 입력
print(my_dict)

{'banana': '바나나'}

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [129]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [130]:
my_dict.update(apple = '사과아아')
print(my_dict)

{'apple': '사과아아', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [131]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [134]:
print(my_dict.get('pineapple')) #get은 에러가 나지 않음!
print(my_dict.get('apple'))
print(my_dict.get('pineapple', 0)) #None이 아닌 기본값 보고싶을 때

None
사과
0

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [135]:
cubic = {x: x**3 for x in range(1, 11)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Dictionary comprehension 사용해보기

In [137]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [139]:
dust_80 = {k : v for k, v in dusts.items() if v > 80}
print(dust_80)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [154]:
new_dust = {k : '나쁨' if v > 80 else '보통' for k, v in dusts.items() }
print(new_dust)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [155]:
new_dust = {k : '매우나쁨' if v > 150 else '나쁨' if v > 80 else '보통' if v>30 else '좋음' for k, v in dusts.items() }
print(new_dust)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [ ]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# list comprehension

In [ ]:
# map

In [ ]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# list comprehension

In [ ]:
# map

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
list(zip(girls, boys))

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [ ]:
# zip

In [ ]:
# 다른 예시도 알아봅시다.

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [ ]:
# 다음의 list comprehension과 동일하다.