# Python 2. 데이터구조

## 학습해야 할 내용

    • 시퀀스 자료형
    • set, dictionary
    • 제어문

### 1. 아래 보기 중, 변경할 수 있는(mutable) 것과 변경 불가능한 것(immutable)을 분류 하시오

<center>String List Tuple Range Set Dictionary</center>

In [1]:
#변경 가능한 것
List Tuple Range Set Dictionary

In [2]:
#변경 불가능한 것

String, Tuple

### 2. range와 slicing을 활용하여 1부터 50까지 숫자 중 홀수로 이루어진 리스트를 만드시오

In [5]:
lst = []
for i in range(1, 51):
    if i % 2:
        lst.append(i)
print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### 3. 반 학생들의 정보를 이용하여 key는 이름, value는 나이인 딕셔너리를 만드시오.

In [14]:
ban = {'강민정': 1, '김나연': 2, '김민재': 3, '김성민': 4, '김세훈' : 5, '김연수' : 6, 
       '김원정' : 7, '김태형' : 8, '남동규' : 9, '류승민' : 10, '박세진' : 11, '박태웅' : 12,
       '서용준' : 13, '우지윤' : 14, '이솔' : 15, '이승헌' : 16, '이예은' : 17, '이원준' : 18,
       '이태정' : 19, '전성환' : 20, '정재철' : 21, '조다빈' : 22, '조제형' : 23, '지건영' : 24,
        '표하민' : 25, '황수현' : 26}

print(ban)

{'강민정': 1, '김나연': 2, '김민재': 3, '김성민': 4, '김세훈': 5, '김연수': 6, '김원정': 7, '김태형': 8, '남동규': 9, '류승민': 10, '박세진': 11, '박태웅': 12, '서용준': 13, '우지윤': 14, '이솔': 15, '이승헌': 16, '이예은': 17, '이원준': 18, '이태정': 19, '전성환': 20, '정재철': 21, '조다빈': 22, '조제형': 23, '지건영': 24, '표하민': 25, '황수현': 26}

___
# WorkShop

>Background
    - container
    - String, List, Dictionary

>Goal
    - 데이터 구조에 대한 이해
    - 제어문에 대한 이해

## Problem

### 1. 두 개의 정수 n과 m이 주어질 때, 반복문을 사용하여 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 사각형을 출력하시오.

In [17]:
#문제
n = 5
m = 9

In [19]:
for i in range(m):
    print('*' * 5)

*****
*****
*****
*****
*****
*****
*****
*****
*****

### 2.과목명과 점수가 담긴 딕셔너리가 있을 때, 평균 점수를 출력하시오

In [21]:
#문제
student = {'python' : 80, 'algorithm' : 99, 'django' : 89, 'flask' : 83}

In [23]:
sum = 0

for i in student:
    sum += student[i]
avg = sum / len(student)
print(avg)

87.75

### 3. 다음은 여러 사람의 혈액형(A, B, AB, O)에 대한 데이터이다. 반복문을 사용하여 key는 혈액형의 종류, value는 인원 수인 딕셔너리를 만들고 출력하시오..

In [27]:
#문제
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [30]:
blood_dict = {}
for type in blood_types:
    blood_dict[type] = blood_types.count(type)
print(blood_dict)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}